In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[2]").appName("Trial").getOrCreate()
spark

In [61]:


df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('./data/DND_20250708.csv')

In [88]:
from pyspark.sql.functions import col, concat, lit, when
df.select(
    col('NUMBER'),
    # when(col('NUMBER').isNotNull(), concat(lit('230'), col('NUMBER').cast('string'))).otherwise(col('NUMBER')),
    (col('NUMBER').cast('float') / 200000).alias('DIVID'), 
    (col('TE') % 7).alias("NEW_TE")
).show()


# df.withColumn('NUMBER', )

+--------+------------------------------------------------------------------------------------------------+---------+------+
|  NUMBER|CASE WHEN (NUMBER IS NOT NULL) THEN concat(230, CAST(NUMBER AS PHONE AS STRING)) ELSE NUMBER END|    DIVID|NEW_TE|
+--------+------------------------------------------------------------------------------------------------+---------+------+
|54283248|                                                                                     23054283248|271.41624|     5|
|54283299|                                                                                     23054283299| 271.4165|     0|
|54283313|                                                                                     23054283313|271.41656|     1|
|54283321|                                                                                     23054283321| 271.4166|     2|
|54283332|                                                                                     23054283332|271.41666|     1|
|54283333|                                                                                     23054283333|271.41666|  NULL|
|54283335|                                                                                     23054283335|271.41668|  NULL|
|54283354|                                                                                     23054283354|271.41676|  NULL|
|54283355|                                                                                     23054283355|271.41678|  NULL|
|54283367|                                                                                     23054283367|271.41684|  NULL|
|54283372|                                                                                     23054283372|271.41686|  NULL|
|54283377|                                                                                     23054283377|271.41688|  NULL|
|54283399|                                                                                     23054283399|  271.417|  NULL|
|54283423|                                                                                     23054283423|271.41712|  NULL|
|54283463|                                                                                     23054283463|271.41732|  NULL|
|54283510|                                                                                     23054283510|271.41756|  NULL|
|54283531|                                                                                     23054283531|271.41766|  NULL|
|54283544|                                                                                     23054283544|271.41772|  NULL|
|54283550|                                                                                     23054283550|271.41776|  NULL|
|54283570|                                                                                     23054283570|271.41784|  NULL|
+--------+------------------------------------------------------------------------------------------------+---------+------+
only showing top 20 rows