In [146]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[2]").appName("Trial").getOrCreate()
spark

In [160]:
df = spark.read.option('header', 'true').option('inferSchema', 'true').csv('./data/DND_20250708.csv')

In [161]:
from pyspark.sql.functions import col, concat, lit, when
df = df.select(
    col('NUMBER'),
    # when(col('NUMBER').isNotNull(), concat(lit('230'), col('NUMBER').cast('string'))).otherwise(col('NUMBER')),
    (col('NUMBER').cast('float') / 200000).alias('DIVID'), 
    (col('TE') % 7).alias("NEW_TE")
)


df.show()

+--------+---------+------+
|  NUMBER|    DIVID|NEW_TE|
+--------+---------+------+
|54283248|271.41624|     5|
|54283299| 271.4165|     0|
|54283313|271.41656|     1|
|54283321| 271.4166|     2|
|54283332|271.41666|     1|
|54283333|271.41666|  NULL|
|54283335|271.41668|  NULL|
|54283354|271.41676|  NULL|
|54283355|271.41678|  NULL|
|54283367|271.41684|  NULL|
|54283372|271.41686|  NULL|
|54283377|271.41688|  NULL|
|54283399|  271.417|  NULL|
|54283423|271.41712|  NULL|
|54283463|271.41732|  NULL|
|54283510|271.41756|  NULL|
|54283531|271.41766|  NULL|
|54283544|271.41772|  NULL|
|54283550|271.41776|  NULL|
|54283570|271.41784|  NULL|
+--------+---------+------+
only showing top 20 rows

In [167]:
from pyspark.sql.functions import when

df1 = df.withColumn(
    'AGE',
    (col('DIVID') / 2).cast('integer'),
).withColumn(
    'NEW_TE',
    when(col('NEW_TE').isNull(), 2).otherwise(col("NEW_TE"))
).withColumn(
    'FULL',
    when(col('NEW_TE').isNotNull(), None).otherwise(col("NEW_TE"))
)

df1.show()

+--------+---------+------+---+----+
|  NUMBER|    DIVID|NEW_TE|AGE|FULL|
+--------+---------+------+---+----+
|54283248|271.41624|     5|135|NULL|
|54283299| 271.4165|     0|135|NULL|
|54283313|271.41656|     1|135|NULL|
|54283321| 271.4166|     2|135|NULL|
|54283332|271.41666|     1|135|NULL|
|54283333|271.41666|     2|135|NULL|
|54283335|271.41668|     2|135|NULL|
|54283354|271.41676|     2|135|NULL|
|54283355|271.41678|     2|135|NULL|
|54283367|271.41684|     2|135|NULL|
|54283372|271.41686|     2|135|NULL|
|54283377|271.41688|     2|135|NULL|
|54283399|  271.417|     2|135|NULL|
|54283423|271.41712|     2|135|NULL|
|54283463|271.41732|     2|135|NULL|
|54283510|271.41756|     2|135|NULL|
|54283531|271.41766|     2|135|NULL|
|54283544|271.41772|     2|135|NULL|
|54283550|271.41776|     2|135|NULL|
|54283570|271.41784|     2|135|NULL|
+--------+---------+------+---+----+
only showing top 20 rows

In [185]:
df2 = df1
# df2.na.drop(how='all', thresh=2).show()

df2.na.fill(33, subset=['FULL']).show()

# df2.printSchema()
# df2.show()

+--------+---------+------+---+----+
|  NUMBER|    DIVID|NEW_TE|AGE|FULL|
+--------+---------+------+---+----+
|54283248|271.41624|     5|135|  33|
|54283299| 271.4165|     0|135|  33|
|54283313|271.41656|     1|135|  33|
|54283321| 271.4166|     2|135|  33|
|54283332|271.41666|     1|135|  33|
|54283333|271.41666|     2|135|  33|
|54283335|271.41668|     2|135|  33|
|54283354|271.41676|     2|135|  33|
|54283355|271.41678|     2|135|  33|
|54283367|271.41684|     2|135|  33|
|54283372|271.41686|     2|135|  33|
|54283377|271.41688|     2|135|  33|
|54283399|  271.417|     2|135|  33|
|54283423|271.41712|     2|135|  33|
|54283463|271.41732|     2|135|  33|
|54283510|271.41756|     2|135|  33|
|54283531|271.41766|     2|135|  33|
|54283544|271.41772|     2|135|  33|
|54283550|271.41776|     2|135|  33|
|54283570|271.41784|     2|135|  33|
+--------+---------+------+---+----+
only showing top 20 rows